<br>
<br>
<br>
<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>
</div>

<a href="/auth/facebook">
<class="fa fa-facebook"/>
Continue with Facebook
</a>